.menu-wrapper hr {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.food-wrapper {
  margin-top: 50px;
  padding: 50px;
}

.menu-title {
  margin-bottom: 50px;
  font-size: 30px;
}

.menu-items {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.items-container {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.items-container img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.items-container:hover {
  transform: translateY(-10px);
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(56, 152, 39, 0.274), #3d5919);
  color: #fcf9da;
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  transition: height 0.5s;
}

.items-container:hover .layer {
  height: 100%;
}

.items-container:hover img {
  transform: scale(1.1);
}

.layer h3 {
  font-size: 30px;
  margin-bottom: 10px;
}

.layer ul li {
  list-style-type: none;
  font-size: 20px;
}

.main-items p {
  font-size: 25px;
  font-weight: bolder;
  margin-top: 20px;
}

.drink-wrapper {
  padding: 50px;
}

.prize-wrapper {
  text-align: center;
  margin-top: 50px;
}

.prize-wrapper button {
  padding: 20px 20px;
  background-color: #76220b;
  color: #fcf9da;
  border: 3px solid #76220b;
  border-radius: 50px;
  font-size: 30px;
  cursor: pointer;
  width: 700px;
  height: 100px;
  text-decoration: underline;
}

.prize-wrapper button:hover {
  background-color: #fcf9da;
  color: #76220b;
}

#details {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
}

#details img {
  width: 50%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

@media (max-width: 425px) {
  .prize-wrapper button {
    padding: 10px 10px;
    font-size: 20px;
    width: 400px;
    height: 100px;
  }
  #details {
    gap: 30px;
  }
  #details img {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .prize-wrapper button {
    padding: 10px 10px;
    font-size: 20px;
    width: 300px;
    height: 100px;
  }
  #details {
    gap: 30px;
  }
  #details img {
    width: 80%;
  }
}
